@page "/Sections/Create"
@inherits OwningComponentBase<StudentsService>


<div class="">
    <div class="page-header">
        <h1>
            Create
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>

                <NavLink href="/Sections/Index" class="btn btn-warning">Back to List</NavLink>

            </small>
        </h1>
    </div>
    <div class="box box-block bg-white ">
        <EditForm OnValidSubmit="@HandleValidSubmit" Model="@Model" Id="StudentClassCreate" class="col-md-7 m-auto">
            @*<DataAnnotationsValidator />*@


            <div class="form-horizontal">
                @*<ValidationSummary />*@

                <div class="form-Group">
                    <label for="Name" class="control-label">Class</label>
                    <InputText for="Name" class="form-control" bind="@Model.Name" />
                </div>


            </div>
            <div class="form-Group row">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" class="btn btn-primary" value="Save" onclick="SubmitData(this, event);" />

                </div>
            </div>
        </EditForm>
    </div>


</div>





@code {

    private Section Model = new Section();



    public async Task HandleValidSubmit(EditContext context)
    {

        Section Section = new Section();
        try
        {
            Section = Model;

            var result = await Service.CreateSection(Section);
            // Clear the form.
            Model = new Section();
            // Show the Toast.

        }
        catch (Exception)
        {
            //ToastContent = ex.GetBaseException().Message;

            //await this.ToastObj.Show();
        }
    }
}