@page "/Sections/Index"
@using MalaikaSchool.Data.Models

<h2>Index</h2>

<p>
    <NavLink href="/Sections/Create">Create New</NavLink>
</p>
<table class="table">
    <tr>
        <th>
            Section
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @item.Name
    </td>
   

    <td>
        <NavLink href="/Sections/Edit/{Id:int}" @key="@item.Id">Edit</NavLink>|
        <NavLink href="/Sections/Details" @key="@item.Id">Details</NavLink>|
        <NavLink href="/Sections/Delete" @key="@item.Id">Delete</NavLink>
    </td>
</tr>
    }

</table>
@code {

    private List<Section> Model;


    protected override  Task OnInitializedAsync()
    {
        Model = new List<Section>();

        return base.OnInitializedAsync();
    }

}