@page "/Aboutus"
    <!--------------------------------welcome page garallery----------->
    <div class="container-fluid welcome-page-title">
        <div class="wrapper custome-haead-title">
            <h1 class="page-title">About Us</h1>
        </div>
    </div>
    <!----------------our history--------------->
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="facult-heading">
                    <div class="wrapper">
                        <h1 class="library001" style="text-align: left;">Our History</h1>
                    </div>
                    <div class="custome-fucult-text">
                        <p>
                            Malaika Schools is located on a piece of land with a total length of 579.8 meters enclosing an area of 14,773.25 square meters/3.65 acres, Magogoni street, plot no 1216/1217, block F Kigamboni, dare es salaam, Tanzania. The school is located just 3.5kilometres from the Ferry, along the beach road. <br>
                            <u>On 22nd march 2013,</u> Malaika Childhood Centre Ltd was incorporated as a limited company certificate No: 98045. It started as a Daycare Centre and later expanded with the high demand of parents to continue with Malaika to avoid the disturbances of finding other schools that could match the standard they wanted for their children.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="wrapper">
                            <h5 style="text-align: left;line-height: 24px;font-weight: 700;font-style: normal;font-size: 17px;color: #555555;" class="heading-wrapper heading-wrapper-">2003,Malaika Childhood Center</h5>
                            <div class="heading-wrapper-paragraph">
                                <p>
                                    September 2013, the Malaika Childhood Development Centre (MCDC) was opened with three classes which were dedicated to the provision of quality day care and pre-school services to the children of Kigamboni municipality and its neighborhood in particular and the wider Dar es Salaam region in general.
                                </p>
                            </div>
                        </div>
                        <div class="wrapper">
                            <h5 style="text-align: left;line-height: 24px;font-weight: 700;font-style: normal;font-size: 17px;color: #555555;" class="heading-wrapper heading-wrapper-">2018,Malaika Nursery and Perimary Schools</h5>
                            <div class="heading-wrapper-paragraph heading-wrapper-paragraph-">
                                <p>
                                    In April 2018, the Malaika Pre-primary (nursery) unit and Primary school completed their registration formalities with the registration number EM 17589 and officially opened to provide the education services to the community. In plan is a dream of having a well established secondary school in at least two years from now.
                                </p>
                            </div>
                        </div>


                    </div>
                    <div class="col-sm-6">
                        <div class="teacher-one-third">
                            <div class="inner-wrapper">
                                <div class="thumbnail">
                                    <img src="/assets/images/gallery/image-3.JPG" alt="about-us-image" loading="lazy" style="width: 100%;">
                                </div>
                            </div>
                        </div>
                        <div class="teacher-one-third teacher-one-third-">
                            <div class="inner-wrapper">
                                <div class="thumbnail">
                                    <img src="/assets/images/gallery/IMG_1386.JPG" alt="about-us-image" loading="lazy" style="width: 100%;">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="wrapper">
                            <h5 style="text-align: left;line-height: 24px;font-weight: 700;font-style: normal;font-size: 17px;color: #555555;" class="heading-wrapper heading-wrapper-">Vision</h5>
                            <div class="heading-wrapper-paragraph">
                                <p>
                                    Over the next twenty years, the school grew to encompass a faculty of six and a student body of forty, all housed in Mrs. Chapin’s cramped apartment in “downtown” Princeton.
                                </p>
                            </div>
                        </div>
                        <div class="wrapper">
                            <h5 style="text-align: left;line-height: 24px;font-weight: 700;font-style: normal;font-size: 17px;color: #555555;" class="heading-wrapper heading-wrapper-">Mission</h5>
                            <div class="heading-wrapper-paragraph">
                                <p>
                                    Over the next twenty years, the school grew to encompass a faculty of six and a student body of forty, all housed in Mrs. Chapin’s cramped apartment in “downtown” Princeton.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="teacher-one-third">
                            <div class="inner-wrapper">
                                <div class="thumbnail">
                                    <img src="/assets/images/gallery/study.JPG" alt="image-vision" loading="lazy" style="width: 100%;">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <nav class="site-nav children-link clearfix">
                    <ul>
                        
                        

                        <li class="page-item page-item-1">
                            <a href="/FacultStuff">Facult and Stuff</a>
                        </li>
                        <li class="page-item page-item-1">
                            <a href="/">Home</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
       
    </div>
    @code {

    }
