@page "/FacultStuff"
    <!--------------------------------welcome page garallery----------->
    <div class="container-fluid welcome-page-title">
        <div class="wrapper custome-haead-title">
            <h1 class="page-title">Our Staff</h1>
        </div>
    </div>
    <!------------------------facult and staff------------->
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="facult-heading">
                    <div class="wrapper">
                        <h1 class="custome-fucult library001" style="text-align: left;">Faculty and staff</h1>
                    </div>
                    <div class="custome-fucult-text">
                        <p>
                            Stepping on the campus of Chapin School, you enter an extraordinary place for children. It is a place where all of our energies are dedicated to helping children become their best selves. We purposefully create an environment to meet their needs from early childhood to emerging adolescence.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="teacher-one-third flex-container">
                            <div class="inner-wrapper">
                                <div class="thumbnail">
                                    <a href="" title="Nusrat">
                                        <img src="/assets/images/gallery/IMG_1532.JPG" alt="" loading="lazy" style="width: 100%;">
                                    </a>
                                </div>
                                <div class="item">
                                    <h5 class="entry-title">
                                        <a href="">Nusrat Sayed</a>
                                    </h5>
                                    <h6 class="job-title">Director</h6>
                                    <div class="summary">
                                        <p>Hello, I’m a teacher, real man you alway see in your TV. Surprise, i’m also and a photography teacher.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="teacher-one-third">
                            <div class="inner-wrapper">
                                <div class="thumbnail">
                                    <a href="" title="koithedeveloper">
                                        <img src="/assets/images/gallery/IMG_1481.JPG" alt="" loading="lazy" style="width: 100%; " class="top-image">

                                    </a>
                                </div>
                                <div class="item">
                                    <h5 class="entry-title">
                                        <a href="">koithedeveloper</a>
                                    </h5>
                                    <h6 class="job-title">Principal</h6>
                                    <div class="summary">
                                        <p>Hello, I’m a teacher, real man you alway see in your TV. Surprise, i’m also and a photography teacher.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="teacher-one-third">
                            <div class="inner-wrapper">
                                <div class="thumbnail">
                                    <a href="" title="Nusrat">
                                        <img src="/assets/images/gallery/IMG_1554.JPG" alt="" loading="lazy" style="width: 100%;">
                                    </a>
                                </div>
                                <div class="item">
                                    <h5 class="entry-title">
                                        <a href="">Nusrat Sayed</a>
                                    </h5>
                                    <h6 class="job-title">Academic</h6>
                                    <div class="summary">
                                        <p>Hello, I’m a teacher, real man you alway see in your TV. Surprise, i’m also and a photography teacher.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="teacher-one-third">
                            <div class="inner-wrapper">
                                <div class="thumbnail">
                                    <a href="" title="koithedeveloper">
                                        <img src="/assets/images/gallery/IMG_1759.CR2" alt="" loading="lazy" style="width: 100%; " class="top-image">

                                    </a>
                                </div>
                                <div class="item">
                                    <h5 class="entry-title">
                                        <a href="">koithedeveloper</a>
                                    </h5>
                                    <h6 class="job-title">First Grade Teacher</h6>
                                    <div class="summary">
                                        <p>Hello, I’m a teacher, real man you alway see in your TV. Surprise, i’m also and a photography teacher.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-sm-3">
                <nav class="site-nav children-link clearfix">
                    <ul>
                        <li class="page-item page-item-1">
                            <a href="/Aboutus">Our History</a>
                        </li>
                        
                        <li class="page-item page-item-1">
                            <a href="/FacultStuff">Facult and Stuff</a>
                        </li>
                        <li class="page-item page-item-1">
                            <a href="/Gallery">Gallery</a>
                        </li>
                   </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="container">
    </div>
    <!------------------------teacher list------------->
    <div class="container">
        <div class="row">
            <div class="col-sm-9">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Teacher</th>
                            <th scope="col">Class</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nusrat Sayeed</td>
                            <td>Professor</td>
                            <td>Math</td>
                        </tr>
                        <tr>
                            <td>koithedeveloper</td>
                            <td>Software</td>
                            <td>Programing</td>
                        </tr>
                        <tr>

                            <td>Semper Karume</td>
                            <td>Software</td>
                            <td>Hacking</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>



    @code {

    }
