@page "/Gallery"
    <!--------------------------------welcome page garallery----------->
    <div class="container-fluid welcome-page-title">
        <div class="wrapper custome-haead-title">
            <h1 class="page-title">Gallery</h1>
        </div>
    </div>
    <!----------------our gallery--------------->
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <!-- Container for the image gallery -->

                <div class="container">
                    <!-- Full-width ~/assets/images/gallery with number text -->
                    <div class="mySlides">
                        <div class="numbertext">1 / 12</div>
                        <img src="~/assets/images/gallery/1.jpg" style="width:100%;height: 400px;">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">2 / 12</div>
                        <img src="~/assets/images/gallery/2.jpg" style="width:100%;height: 400px;">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">3 / 12</div>
                        <img src="~/assets/images/gallery/3.jpg" style="width:100%;height: 400px;">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">4 / 12</div>
                        <img src="~/assets/images/gallery/4.jpg" style="width:100%;height: 400px;">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">5 / 12</div>
                        <img src="~/assets/images/gallery/5.jpg" style="width:100%;height: 400px;">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">6 / 12</div>
                        <img src="~/assets/images/gallery/6.jpg" style="width:100%;height: 400px;">
                    </div>
                    <div class="mySlides">
                        <div class="numbertext">7 / 12</div>
                        <img src="~/assets/images/gallery/1.jpg" style="width:100%;height: 400px;">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">8 / 12</div>
                        <img src="~/assets/images/gallery/2.jpg" style="width:100%;height: 400px;">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">9 / 12</div>
                        <img src="~/assets/images/gallery/3.jpg" style="width:100%;height: 400px;">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">10 / 12</div>
                        <img src="~/assets/images/gallery/4.jpg" style="width:100%;height: 400px;">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">11 / 12</div>
                        <img src="~/assets/images/gallery/5.jpg" style="width:100%;height: 400px;">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">12 / 12</div>
                        <img src="~/assets/images/gallery/6.jpg" style="width:100%;height: 400px;">
                    </div>


                    <!-- Next and previous buttons -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>



                    <!-- Thumbnail ~/assets/images/gallery -->
                    <div class="row">
                        <div class="column">
                            <img class="demo cursor" src="~/assets/images/gallery/1.jpg" style="width:100%" onclick="currentSlide(1)" alt="T">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="~/assets/images/gallery/2.jpg" style="width:100%" onclick="currentSlide(2)" alt="">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="~/assets/images/gallery/3.jpg" style="width:100%" onclick="currentSlide(3)" alt="">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="~/assets/images/gallery/4.jpg" style="width:100%" onclick="currentSlide(4)" alt="">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="~/assets/images/gallery/5.jpg" style="width:100%" onclick="currentSlide(5)" alt="">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="~/assets/images/gallery/6.jpg" style="width:100%" onclick="currentSlide(6)" alt="">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="~/assets/images/gallery/1.jpg" style="width:100%" onclick="currentSlide(7)" alt="T">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="~/assets/images/gallery/2.jpg" style="width:100%" onclick="currentSlide(8)" alt="">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="~/assets/images/gallery/3.jpg" style="width:100%" onclick="currentSlide(9)" alt="">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="~/assets/images/gallery/4.jpg" style="width:100%" onclick="currentSlide(10)" alt="">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="~/assets/images/gallery/5.jpg" style="width:100%" onclick="currentSlide(11)" alt="">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="~/assets/images/gallery/6.jpg" style="width:100%" onclick="currentSlide(12)" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <nav class="site-nav children-link clearfix">
                    <ul>
                        <li class="page-item page-item-1">
                            <a href="/Aboutus">Our History</a>
                        </li>
                        

                        <li class="page-item page-item-1">
                            <a href="/FacultStuff">Facult and Stuff</a>
                        </li>
                        <li class="page-item page-item-1">
                            <a href="/Gallery">Gallery</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
        
    </div>

    @code {

    }
