@page "/Library"
    <!--------------------------------welcome page garallery----------->
    <div class="container-fluid welcome-page-title">
        <div class="wrapper custome-haead-title">
            <h1 class="page-title">Library</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="wrapper">
                    <nav class="site-nav children-link clearfix">
                        <ul>
                            <li class="page-item page-item-1">
                                <a href="about us.html">About Us</a>
                            </li>
                            <li class="page-item page-item-1">
                                <a href="academics.html">Academics</a>
                            </li>
                            <li class="page-item page-item-1">
                                <a href="sports.html">Sport and Games</a>
                            </li>
                            <li class="page-item page-item-1">
                                <a href="index.html">Home</a>
                            </li>
                        </ul>
                    </nav>

                </div>


            </div>
            <div class="col-sm-8">
                <div class="wrapper">
                    <section class="">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="wrapper">
                                    <h1 class="library001">
                                        School Library
                                    </h1>
                                    <div class="wrapper">
                                        <p>
                                            In all three divisions, students are encouraged to use library and technology resources to discover new approaches to problems, to develop global awareness and empathy
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="wrapper populeted">
                                    <div class="element-populeted">
                                        <div class="header-library">
                                            <h4 class="library001">
                                                Library Hours
                                            </h4>
                                            <div class="weekdays">
                                                <h6>
                                                    WEEKDAYS
                                                </h6>
                                                <p>
                                                    The library is open Monday through<br> Friday 8:30 a.m. - 5:00 p.m.
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7.5">          
                <section class="library-img">
                    <div class="wrapper">
                        <div class="teacher-one-third">
                            <div class="inner-wrapper">
                                <div class="thumbnail">
                                    <img src="~/assets/images/gallery/pexels-pixabay-159775.jpg" alt loading="lazy" style="width: 100%;">
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

            </div>
        </div>
    </div>
    @code {

    }
