@page "/Preschool"
    <!--------------------------------welcome page garallery----------->
    <div class="container-fluid welcome-page-title">
        <div class="wrapper custome-haead-title">
            <h1 class="page-title">Nursery</h1>
        </div>
    </div>
    <!--------------------------------preschool-------------------------->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9">
                <div class="facult-heading">
                    <div class="wrapper">
                        <h1 class="library001" style="text-align: left;">PreSchool(Nursery)</h1>
                    </div>
                    <div class="custome-fucult-text">
                        <p>
                            Our Young Pre classroom is for ages 2+. This age group is working on developing their fine and gross motor skills, that are gaining independence, and developing their social skills through play.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="wrapper">
                            <h5 style="text-align: left;line-height: 24px;font-weight: 700;font-style: normal;font-size: 17px;color: #555555;" class="heading-wrapper">Teaching Methodologies</h5>
                            <div class="heading-wrapper-paragraph">
                                <p>
                                    The homelike quality of our school contributes to a relaxed, focused experience for the child. Our indoor classroom activities are placed on open shelves for selection as interest and readiness inspires the child. Our outdoor environment offers a beautiful developed playground with manipulatives, tricycles, pets, and gardens.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="teacher-one-third">
                            <div class="inner-wrapper">
                                <div class="thumbnail">
                                    <img src="/assets/images/gallery/IMG_1428.JPG" alt="" loading="lazy" style="width: 100%;">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="wrapper">
                            <h5 style="text-align: left;line-height: 24px;font-weight: 700;font-style: normal;font-size: 17px;color: #555555;" class="heading-wrapper">Plan and Details</h5>
                            <div class="heading-wrapper-paragraph">
                                <p>
                                    The homelike quality of our school contributes to a relaxed, focused experience for the child. Our indoor classroom activities are placed on open shelves for selection as interest and readiness inspires the child. Our outdoor environment offers a beautiful developed playground with manipulatives, tricycles, pets, and gardens.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="teacher-one-third">
                            <div class="inner-wrapper">
                                <div class="thumbnail">
                                    <img src="/assets/images/gallery/IMG_1393.JPG" alt="" loading="lazy" style="width: 100%;">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <nav class="site-nav children-link clearfix">
                    <ul>

                        <li class="page-item page-item-1">
                            <a href="/DayCare">Day Care School</a>
                        </li>
                        <li class="page-item page-item-1">
                            <a href="/Preschool">PreSchool(Nursery)</a>
                        </li>
                        <li class="page-item page-item-1">
                            <a href="/primaryschool">Primary School</a>
                        </li>

                        <li class="page-item page-item-1">
                            <a href="">Ranking</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    @code {

    }
