@page "/GuardianTypes/Edit/{Id:int}"
@using MalaikaSchool.Data.Models
@using MalaikaSchool.Data.Services
@inherits OwningComponentBase<StudentsService>


<div class="row">
    <div class="page-header">
        <h1>
            Edit
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>

                <NavLink href="/GuardianTypes/Index" class="btn btn-warning">Back to List</NavLink>

            </small>
        </h1>
    </div>
    <div class="box box-block bg-white col-md-6">
        <EditForm OnValidSubmit="@HandleValidSubmit" Model="@Model" Id="studentForm" class="col-md-7 m-auto">
            <DataAnnotationsValidator />


            <div class="form-horizontal">
                <ValidationSummary />

                <input type="hidden" for="Id" @bind="Model.Id">

                <div class="form-Group">
                    <label for="Name" class="control-label">Class</label>
                    <InputText for="Name" class="form-control" bind="@Model.Name" />
                </div>

                <div class="form-Group row">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" class="btn btn-primary" value="Save" onclick="SubmitData(this, event);" />

                    </div>
                </div>
            </div>
        </EditForm>

    </div>
</div>




@code {
    public int Id { get; set; }
    private GuardianType Model =new GuardianType();
    private List<EducationLevel> educationLevels= new List<EducationLevel>();

    protected override async Task OnInitializedAsync()
    {
        Model = await Service.GetGuardianType(Id);
        educationLevels = new List<EducationLevel>();
    }

    public void HandleValidSubmit(EditContext context)
    {

        GuardianType GuardianType = new GuardianType();
        try
        {
            GuardianType = Model;

            var result = Service.EditGuardianType(GuardianType);

            // Show the Toast.

        }
        catch (Exception)
        {
            //ToastContent = ex.GetBaseException().Message;

            //await this.ToastObj.Show();
        }
    }
}