@page "/Subject/Detaila"
@using MalaikaSchool.Data.Models



<div class="row">
    <div class="box box-block bg-white col-md-6">


        <h3>Details</h3>
        <div>

            <dl class="dl-horizontal">
                <dt>
                    class
                </dt>

                <dd>
                    @Model.Name
                </dd>

                <dt>
                    Subject
                </dt>

                <dd>
                    @Model.Name
                </dd>
                <dt>
                    code
                </dt>

                <dd>
                    @Model.Code
                </dd>


            </dl>

            <form action="/" method="post">

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    <NavLink href="/Subject/Index">Back to List</NavLink>
                </div>
            </form>
        </div>
    </div>

</div>

<div>
    <NavLink href="/Subject/Index" class="btn btn-warning">Back to List</NavLink>
</div>

@code {

    private Subject Model;


    protected override  Task OnInitializedAsync()
    {
        Model = new Subject();
        return base.OnInitializedAsync();
    }

}


