@page "/Sessions/Delete/{Id:int}"
@using MalaikaSchool.Data.Services
@inherits OwningComponentBase<StudentsService>





<div class="row">
    <div class="box box-block bg-white col-md-6">


        <h3>Are you sure you want to delete this?</h3>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    Session
                </dt>
                <dd>
                    @Model.Name
                </dd>

            </dl>

            <form action="/" method="post">

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    <NavLink href="/Sessions/Index">Back to List</NavLink>
                </div>
            </form>
        </div>
    </div>

</div>

<div>
    <NavLink href="/Sessions/Index" class="btn btn-warning">Back to List</NavLink>
</div>

@code {

        [Parameter]
        public int Id { get; set; }
    private Session Model = new Session();


    protected override async Task OnInitializedAsync()
    {
        Model = await Service.GetSession(Id);
    }

    public async Task HandleValidSubmit(EditContext context)
    {
        try
        {
            await Service.SessionDeleteConfirmed(Model.Id);
        }
        catch (Exception)
        {
            //ToastContent = ex.GetBaseException().Message;

            //await this.ToastObj.Show();
        }

    }
}

