@page "/Sessions/Index"
@using MalaikaSchool.Data.Services
@inherits OwningComponentBase<StudentsService>

<h2>Index</h2>

<p>
    <NavLink href="/Sessions/Create">Create New</NavLink>
</p>
<table class="table">
    <tr>
        <th>
          Class  Periods
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>


            <td>
                <NavLink href="@($"/Session/Edit/{item.Id}")">Edit</NavLink> |
                <NavLink href="" @onclick="()=>ClickDetailed(item.Id)">Details</NavLink> |
                <NavLink href="" @onclick="()=>ClickDeleted(item.Id)">Delete</NavLink>
            </td>
        </tr>
    }

</table>
@code {

    private List<Session> Model;
    [CascadingParameter]
    public IModalService SessionModal { get; set; }

    protected override Task OnInitializedAsync()
    {
        Model = new List<Session>();

        return base.OnInitializedAsync();
    }

    private void ClickDetailed(int id)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(Details.Id), id);
        SessionModal.Show<Details>("Detail of Period", parameters);
    }

    private void ClickDeleted(int id)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(Delete.Id), id);
        SessionModal.Show<Delete>("Delete Period", parameters);
    }
}