@page "/Events/Delete"
@using MalaikaSchool.Data.Models





<div class="row">
    <div class="box box-block bg-white col-md-6">


        <h3>Are you sure you want to delete this?</h3>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    Event Type
                </dt>
                <dd>
                    @Model.Name
                </dd>

            </dl>

            <form action="/" method="post">

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    <NavLink href="/Events/Index">Back to List</NavLink>
                </div>
            </form>
        </div>
    </div>

</div>

<div>
    <NavLink href="/Events/Index" class="btn btn-warning">Back to List</NavLink>
</div>

@code {

    private GuardianType Model;


    protected override  Task OnInitializedAsync()
    {
        Model = new GuardianType();

        return base.OnInitializedAsync();
    }

}


