@page "/Events/Details"
@using MalaikaSchool.Data.Models





<div class="row">
    <div class=" col-md-8 pb-3 m-auto">
        @if (ModelDet != null)
        {
            <div class="card justify-content-center">
                <img class="card-img-top" src="/assets/images/gallery/05.jpg" alt="Card image cap">
                <div class="card-body" style="text-align:center" >
                    <h5 class="card-title">  School Opening</h5>
                    <p class="card-text">
                        Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Donec ullamcorper
                    </p>
                </div>
                
                <div class="card-body" style="text-align:center">
                    <NavLink href="/Events/Index" class="btn btn-warning float-center">Back to List</NavLink>

                </div>
            </div>
        }
        else
        {
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public Event ModelDet { get; set; }

    string imgUrl = string.Empty;


    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {

            imgUrl = $"data:png;base64,{Convert.ToBase64String(ModelDet.Image)}";
        }
    }

}


