@page "/parentdashboard"

<div class="container-fluid page__container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Instructor DashBoard</li>
    </ol>
    
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <div class="flex">
                        <h4 class="card-title">Teacher</h4>
                        
                    </div>
                    <a href="instructor-earnings.html" class="btn btn-sm btn-primary btn-primary-">Role</a>
                </div>
                <div class="card-body">
                    <div id="legend" class="chart-legend mt-0 mb-24pt justify-content-start"><span class="chart-legend-item"><i class="chart-legend-indicator" style="background-color: #2196F3"></i>Earnings</span></div>
                    <div class="chart" style="height: 200px;">
                        <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                        <canvas id="earningsChart" class="chart-canvas js-update-chart-bar chartjs-render-monitor" data-chart-legend="#legend" data-chart-line-background-color="primary" data-chart-prefix="$" data-chart-suffix="k" style="display: block; width: 400px; height: 200px;" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <div class="flex">
                        <h4 class="card-title">Remarks</h4>
                        <p class="card-subtitle">Exams Name</p>
                    </div>
                    <a href="instructor-statement.html" class="btn btn-sm btn-primary btn-primary-">Period</a>
                </div>
                <div data-toggle="lists" data-lists-values="[
            &quot;js-lists-values-course&quot;,
            &quot;js-lists-values-document&quot;,
            &quot;js-lists-values-amount&quot;,
            &quot;js-lists-values-date&quot;
          ]" data-lists-sort-by="js-lists-values-date" data-lists-sort-desc="true" class="table-responsive">
                    <table class="table table-nowrap m-0">
                        <thead class="thead-light">
                            <tr>
                                <th colspan="2">
                                    <a href="#" class="sort" data-sort="js-lists-values-course">Subject</a>
                                   
                                   
                                    <a href="#" class="sort desc" data-sort="js-lists-values-date">Date</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <td>
                                    <div class="media align-items-center">
                                        
                                        <div class="media-body">
                                            <a class="text-body js-lists-values-course" href="instructor-course-edit.html"><strong>Basic Mathematics</strong></a><br>
                                            
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <small class="text-muted text-uppercase js-lists-values-date">Monthly Test</small>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="media align-items-center">
                                        
                                        <div class="media-body">
                                            <a class="text-body js-lists-values-course" href="instructor-course-edit.html"><strong>English</strong></a><br>
                                            
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <small class="text-muted text-uppercase js-lists-values-date">Mid Terminal</small>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="media align-items-center">
                                        
                                        <div class="media-body">
                                            <a class="text-body js-lists-values-course" href="instructor-course-edit.html"><strong>Kiswahili</strong></a><br>
                                            
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <small class="text-muted text-uppercase js-lists-values-date">Terminal</small>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="media align-items-center">
                                        
                                        <div class="media-body">
                                            <a class="text-body js-lists-values-course" href="instructor-course-edit.html"><strong>Geography</strong></a><br>
                                            
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <small class="text-muted text-uppercase js-lists-values-date">Final</small>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <div class="flex">
                        <h4 class="card-title">Subject</h4>
                        <p class="card-subtitle">Subject List</p>
                    </div>
                    <a class="btn btn-sm btn-primary btn-primary-" href="instructor-earnings.html">Class</a>
                </div>
                <ul class="list-group list-group-fit mb-0">
                    <li class="list-group-item">
                        <div class="media align-items-center">
                            <div class="media-body">
                                 <a href="instructor-course-edit.html" class="text-body"><strong>Basic Mathematics</strong></a>
                            </div>
                            <div class="media-right">
                                <div class="text-center">
                                    <span class="badge badge-pill badge-primary">Grade 1</span>
                                    <span class="badge badge-pill badge-primary">Grade 3</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media align-items-center">
                            <div class="media-body">
                                 <a href="instructor-course-edit.html" class="text-body"><strong>English</strong></a>
                            </div>
                            <div class="media-right">
                                <div class="text-center">
                                    <span class="badge badge-pill badge-success">Grade 2</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media align-items-center">
                            <div class="media-body">
                                 <a href="instructor-course-edit.html" class="text-body"><strong>Kiswahili</strong></a>
                            </div>
                            <div class="media-right">
                                <div class="text-center">
                                    <span class="badge badge-pill badge-warning">Grade 3</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <a href="instructor-course-edit.html" class="text-body"><strong>Geography</strong></a>
                            </div>
                            <div class="media-right">
                                <div class="text-center">
                                    <span class="badge badge-pill  badge-danger ">Grade 3</span>
                                    <span class="badge badge-pill  badge-danger ">Grade 4</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <div class="flex">
                        <h4 class="card-title">Attendecy</h4>
                        <p class="card-subtitle">Class Name</p>
                    </div>
                    
                </div>
                <div class="card-body">

                    <div class="media ml-sm-32pt mt-3 border rounded p-3 bg-light">

                        <div class="media-body">
                            <div class="d-flex align-items-center">
                                <a class="text-body"><strong>Grade 1</strong></a>

                            </div>
                            <div class="media-right">
                                <div class="text-right">
                                    <a href="#"> <span class="badge badge-pill badge-success">Grade 1</span></a>

                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="media ml-sm-32pt mt-3 border rounded p-3 bg-light">

                        <div class="media-body">
                            <div class="d-flex align-items-center">
                                <a class="text-body"><strong>Grade 2</strong></a>

                            </div>
                            <div class="media-right">
                                <div class="text-right">
                                    <a href="">
                                        <span class="badge badge-pill badge-primary">Grade 2</span>
                                    </a>

                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="media ml-sm-32pt mt-3 border rounded p-3 bg-light">

                        <div class="media-body">
                            <div class="d-flex align-items-center">
                                <a class="text-body"><strong>Grade 3</strong></a>

                            </div>
                            <div class="media-right">
                                <div class="text-right">
                                    <a href="">
                                        <span class="badge badge-pill badge-danger">Grade 3</span>
                                    </a>

                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="media ml-sm-32pt mt-3 border rounded p-3 bg-light">

                        <div class="media-body">
                            <div class="d-flex align-items-center">
                                <a class="text-body"><strong>Grade 4</strong></a>

                            </div>
                            <div class="media-right">
                                <div class="text-right">
                                    <a href="">
                                        <span class="badge badge-pill badge-grey">Grade 4</span>
                                    </a>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
