@page "/StudentAttendance/Edit/{Id:int}"
@using MalaikaSchool.Data.Services
@inherits OwningComponentBase<StudentsService>


<div class="">
    <div class="page-header">
        <h1>
            Edit
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>

                <NavLink href="/Sessions/Index" class="btn btn-warning">Back to List</NavLink>

            </small>
        </h1>
    </div>
    <div class="box box-block bg-white ">
        <EditForm OnValidSubmit="@HandleValidSubmit" Model="@Model" Id="studentForm" class="col-md-7 m-auto">

            @*<DataAnnotationsValidator />*@


            <div class="form-horizontal">
                @*<ValidationSummary />*@

                <input type="hidden" for="Id" @bind="Model.Id">

                <div class="form-Group">
                    <label for="Name" class="control-label">Class</label>
                    <InputText for="Name" class="form-control" @bind-Value="@Model.Name" />
                </div>

                <div class="form-Group row">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" class="btn btn-primary" value="Save" onclick="SubmitData(this, event);" />

                    </div>
                </div>
            </div>
            </EditForm>

    </div>
</div>




@code {

    private Session Model = new Session();



    public async Task HandleValidSubmit(EditContext context)
    {
        Session sess = new Session();
        try
        {
            sess=Model;
            var result=  await Service.EditSession(sess);
            // Clear the form
            Model = new Session();
            // Show the Toast
        }
        catch (Exception)
        {
            //ToastContent = ex.GetBaseException().Message;

            //await this.ToastObj.Show();
        }

    }

}