/*---------------body----------------------*/
@media only screen and (max-width: 768px) {
    .people {
      display: none !important;
    }
}


body{
    font-family: sans-serif;
}

/*------------------------------------carousel on welcome page index---------------*/

/*--------------welcome malaika nav----------------*/

.malaika-logo1{
    padding-left: 30px;
    margin-bottom: 5px;
    margin-top: 5px;  
}
.col-xs-8{
    width: 50%;
    float: left;
}
.alt-button1{
    background-color: #e6be1e;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    margin-top: 5px;
    color:#ffffff;
    padding: 14px 21px 14px 21px;
    text-transform: uppercase;
    letter-spacing: inherit;
    text-align: left;
}
/**------------------------------navigation----------------*/
.theme-icon0{
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    position: absolute;
    
}

@media only screen and (max-width:320px){
    .malaika-logo {
        padding-left: 52px;
        padding-bottom: 0px;
        padding-top: 0px;
        font-size:11px;
        line-height:22px;
        color:#333436;
    }
}
@media only screen and (max-width:320px) {
    .theme-icon0 {
        padding-top: 0px;
        padding-right: 5px;
        padding-bottom: 5px;
        margin-left: -13px;
        position: absolute;
    }
}
@media only screen and (min-width:320px) {
    .malaika-logo {
        padding-left: 52px;
        padding-bottom: 0px;
        padding-top: 0px;
        font-size: 11px;
        line-height: 22px;
        color: #333436;
    }
}

@media only screen and (min-width:320px) {
    .theme-icon0 {
        padding-top: 0px;
        padding-right: 5px;
        padding-bottom: 5px;
        margin-left: -13px;
        position: absolute;
    }
}
@media only screen and (min-width:375px) {
    .malaika-logo {
        padding-left: 65px;
        padding-bottom: 0px;
        padding-top: 0px;
        font-size: 13px;
        line-height: 25px;
        color: #333436;
    }
}

@media only screen and (min-width:375px) {
    .theme-icon0 {
        padding-top: 0px;
        padding-right: 5px;
        padding-bottom: 5px;
        margin-left: 0px;
        position: absolute;
    }
}
@media only screen and (min-width:425px) {
    .malaika-logo {
        font-size: 16px;
        line-height: 25px;
    }
}
@media only screen and (min-width:600px) {
    .malaika-logo {
        font-size: 20px;
        line-height: 25px;
    }
}


    /*--------------------welcome malaika-------------*/
    .welcome-content- {
        background-color: #e6be1e;
    }

    .welcome-content-- {
        background-color: #f2f2f2;
    }

    .welcome-content {
        padding-top: 50px;
        padding-bottom: 0px;
    }

    @media only screen and (max-width:320px) {
        .welcome-content {
            padding-top: 40px;
            margin-bottom: 40px !important;
        }

        .welcome-content-, .welcome-content--, .welcome-content---, .welcome-content---- {
            margin-left: 30px;
            margin-right: 30px;
        }
    }
@media only screen and (max-width:320px) {
    .welcome-content1, .welcome-content {
        margin-left: -50px;
        padding-top: 40px;
        margin-bottom: 40px !important;
    }
}
@media only screen and (min-width:320px) {
    .welcome-content {
        padding-top: 40px;
        margin-bottom: 40px !important;
    }

    .welcome-content-, .welcome-content--, .welcome-content---, .welcome-content---- {
        margin-left: 30px;
        margin-right: 30px;
    }
}
@media only screen and (min-width:320px) {
    .welcome-content1, .welcome-content {
        margin-left: -50px;
        padding-top: 40px;
        margin-bottom: 40px !important;
    }
}
@media only screen and (min-width:375px) {
    .welcome-content-, .welcome-content--, .welcome-content---, .welcome-content---- {
        margin-left: 40px;
        margin-right: 40px;
    }
}
@media only screen and (min-width:425px) {
    .welcome-content-, .welcome-content--, .welcome-content---, .welcome-content---- {
        margin-left: 50px;
        margin-right: 50px;
    }
}
@media only screen and (min-width:576px) {
    .welcome-content-, .welcome-content--, .welcome-content---, .welcome-content---- {
        margin-left: 0px;
        margin-right: 0px;
        
    }
}
@media only screen and (min-width:600px) {
    .welcome-content-, .welcome-content--, .welcome-content---, .welcome-content---- {
        margin-left: 0px;
        margin-right: 0px;
    }
}


    

    @media only screen and (min-width:768px) {
        .welcome-content {
            margin-left: -60px;
            padding-top: 40px;
            margin-bottom: 40px !important;
        }
    }

    @media (min-width:768px) {
        .malaika-heading {
            font-size: 15px !important;
            margin-left: -20px !important;
            line-height: 23px !important;
        }
    }

    @media (min-width:768px) {
        .malaika-text {
            margin-left: 5px !important;
            margin-top: 20px !important;
        }
    }

    @media (min-width:768px) {
        .welcome-content {
            margin-left: -58px;
            padding-top: 70px;
            margin-bottom: 40px;
        }
    }

    @media (min-width:768px) {
        .welcome-content1 {
            margin-left: -58px;
            padding-top: 70px;
            margin-bottom: 40px;
        }
    }

    @media only screen and (min-width:992px) {
        .welcome-content1 {
            margin-left: -50px ;
            padding-top: 70px ;
            margin-bottom: 40px ;
        }
    }

    @media only screen and (min-width:992px) {
        .welcome-content {
            margin-left: -50px;
            padding-top: 70px;
            margin-bottom: 40px;
        }
    }

    @media only screen and (min-width:1200px) {
        .welcome-content {
            margin-left: 0px;
            padding-top: 70px;
            margin-bottom: 40px;
        }
    }

    @media only screen and (min-width:1200px) {
        .welcome-content1 {
            margin-left: 0px;
            padding-top: 70px;
            margin-bottom: 40px;
        }
    }

    @media (min-width:768px) {
        .theme-icon {
            padding-top: 5px !important;
            padding-right: 5px !important;
            padding-bottom: 5px !important;
            padding-left: 5px !important;
            margin-left: 50px !important;
            position: absolute !important;
            background-color: #ffffff !important;
        }
    }

    @media (min-width:768px) {
        .theme-icon1 {
            padding-top: 6px !important;
            padding-right: 6px !important;
            padding-bottom: 6px !important;
            padding-left: 6px !important;
            margin-left: 50px !important;
            position: absolute !important;
            background-color: #6c98e1 !important;
        }
    }

    @media (min-width:768px) {
        .theme-icon2 {
            padding-top: 6px !important;
            padding-right: 6px !important;
            padding-bottom: 6px !important;
            padding-left: 6px !important;
            margin-left: 50px !important;
            position: absolute !important;
            background-color: #d93ad0 !important;
        }
    }

    @media (min-width:768px) {
        .theme-icon3 {
            padding-top: 6px !important;
            padding-right: 6px !important;
            padding-bottom: 6px !important;
            padding-left: 6px !important;
            margin-left: 50px !important;
            position: absolute !important;
            background-color: #84c54e !important;
        }
    }

    .theme-icon {
        padding-top: 13px;
        padding-right: 13px;
        padding-bottom: 13px;
        padding-left: 13px;
        margin-left: 50px;
        position: absolute;
        background-color: #ffffff;
    }

    .malaika-heading {
        padding-left: 140px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .theme-icon1 {
        padding-top: 13px;
        padding-right: 13px;
        padding-bottom: 13px;
        padding-left: 13px;
        margin-left: 50px;
        position: absolute;
        background-color: #6c98e1;
    }

    .theme-icon2 {
        padding-top: 13px;
        padding-right: 13px;
        padding-bottom: 13px;
        padding-left: 13px;
        margin-left: 50px;
        position: absolute;
        background-color: #d93ad0;
    }

    .theme-icon3 {
        padding-top: 13px;
        padding-right: 13px;
        padding-bottom: 13px;
        padding-left: 13px;
        margin-left: 50px;
        position: absolute;
        background-color: #84c54e;
    }

    .malaika-text {
        padding-left: 40px;
        margin-top: 30px;
    }

    @media (max-width:480px) {
        .malaika-text {
            padding-left: 50px !important;
        }
    }

    @media (min-width:480px) {
        .malaika-text {
            padding-left: 50px !important;
        }
    }

    .malaika-heading a {
        border: none;
        text-decoration: none !important;
        color: inherit;
    }


    /*--------------------learning facilities-------------*/
    .welcome-content--- {
        background-color: #eeeeee;
    }

    .learing-facilities {
        margin-top: 20px;
        
    }

    @media only screen and (max-width:600px) {
        .learing-facilities {
            margin-top: 20px;
            margin-left: 0px !important;
        }
    }

    @media only screen and (max-width:600px) {
        .learing-facilities p {
            font-size: 18px !important;
        }
    }

    

    @media only screen and (max-width:320px) {
        .yael {
            flex-flow: column;
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 30px;
            margin-bottom: 0px;
        }

        .learing-facilities- {
            padding-left: 30px;
            padding-right: 24px;
            padding-top: 20px;
        }

        .card {
            margin-bottom: 20px !important;
        }
    }

    @media only screen and (min-width:600px) {
        .yael {
            flex-flow: row;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 30px;
            margin-bottom: 0px;
        }
    }

    @media only screen and (min-width:600px) {
        .title {
            font-size: 15px !important;
            line-height: 10px !important;
        }

        .card-text {
            font-size: 13px !important;
        }
    }

    @media only screen and (min-width:768px) {
        .learing-facilities {
            margin-top: 30px;
            margin-left: 5px !important;
        }

        .custom-heading0 {
            font-size: 10px !important;
        }

        .custom-heading00 {
            font-size: 15px !important;
        }

        .custom-heading000 {
            margin-right: 50px;
            font-size: 15px;
        }
    }

    @media only screen and (min-width:768px) {
        .yael {
            flex-flow: row;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 30px;
            margin-bottom: 0px;
        }
    }

    @media only screen and (min-width:992px) {
        .custom-heading0 {
            font-size: 13px !important;
        }

        .custom-heading00 {
            font-size: 18px !important;
        }

        .title {
            font-size: 17px !important;
            line-height: 27px !important;
        }

        .card-text {
            font-size: 15px !important;
        }
    }

    @media only screen and (min-width:1200px) {
        .learing-facilities {
            margin-top: 20px;
            margin-left: 50px !important;
        }

        .custom-heading000 {
            margin-right: 50px;
            font-size: 30px;
        }

        .custom-heading0 {
            font-size: 14px !important;
        }

        .custom-heading00 {
            font-size: 18px !important;
            line-height: 29px !important;
        }
    }

    @media only screen and (min-width:1200px) {
        .yael {
            margin-bottom: 20px !important;
            margin-right: -15px !important;
            margin-left: 40px !important;
            margin-top: 20px !important;
        }

        .title {
            font-size: 17px !important;
        }

        .card-text {
            font-size: 15px !important;
        }
    }

    .custom-heading {
        margin-top: 0px !important;
        margin-bottom: 10px;
        padding-top: 12px;
        padding-bottom: 12px;
        color: inherit;
        background-color: #d93ad0;
    }

    .custom-heading1 {
        margin-top: 0px !important;
        margin-bottom: 10px;
        padding-top: 12px;
        padding-bottom: 12px;
        color: inherit;
        background-color: #6c98e1;
    }

    .custom-heading2 {
        margin-top: 0px !important;
        margin-bottom: 10px;
        padding-top: 12px;
        padding-bottom: 12px;
        color: inherit;
        background-color: #84c54e;
    }

    .custom-heading3 {
        margin-top: 0px !important;
        margin-bottom: 10px;
        padding-top: 12px;
        padding-bottom: 12px;
        color: inherit;
        background-color: #e6be1e;
    }

    h6 a {
        font-weight: normal;
        font-style: normal;
        line-height: 24px;
    }

    .custom-heading a, .custom-heading1 a, .custom-heading2 a, .custom-heading3 a, .title a, .flex a, .table-nowrap a, .media-body a, .custom-heading00 a, .malaika-logo a, .malaika-logo1 a, .children-link ul li a, .entry-title a, .tab-item a, .tab-item0 a, .tab-item1 a, .tab-item3 a, .tab-item4 a, .tab-item2 a, .data h3 a,
    .logo-copyright a, .tribe-events a {
        border: none;
        text-decoration: none !important;
        color: inherit;
    }
    /*-------------------------info and news--------------------*/
    .welcome-content---- {
        background-color: #37383a;
    }

    .learing-facilities0 {
        margin-top: 50px;
        margin-bottom: 30px;
        margin-left: 50px;
    }

    .tab-item {
        margin-left: 5px;
    }

    .tab-item1 {
        margin-left: 0px;
    }

    .tab-item0 {
        margin-left: 5px;
    }


    @media only screen and (max-width:320px) {
        .jael {
            flex-flow: column;
            margin-left: -30px;
            margin-right: -41px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .nav-tabs-wrapper0 {
            margin-right: 19px;
            margin-left: 20px;
        }

        .tab-item {
            margin-left: 5px;
        }



        .learing-facilities0 {
            margin-left: 10px !important;
        }
    }

    @media only screen and (min-width:600px) {
        .jael {
            flex-flow: row;
            margin-left: -65px;
            margin-right: -50px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .date {
            font-size: 10px !important;
            padding-left: 15px !important;
        }
    }

    @media only screen and (min-width:768px) {
        .jael {
            flex-flow: row;
            margin-left: -50px;
            margin-right: -20px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .date {
            font-size: 14px !important;
            padding-left: 20px !important;
        }
    }

    @media only screen and (min-width:1200px) {
        .jael {
            flex-flow: row;
            margin-left: -20px;
            margin-right: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .date {
            font-size: 14px !important;
            padding-left: 20px !important;
        }
    }


    .tab-item2 {
        margin-left: 5px;
    }

    .tab-item3 {
        margin-left: 0px;
    }

    .custom-heading001 {
        margin-bottom: 5px !important;
    }

    .nav-tabs-wrapper0 {
        background-color: #37383a;
        padding-bottom: 0px;
    }




    .post-image {
        max-width: 100%;
    }


    .meta-data {
        margin-bottom: 12px;
        font-weight: 500;
    }

    .date {
        font-size: 13px;
        color: #878787;
        text-align: left;
        padding-left: 25px;
    }

    .data h3 a {
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        text-align: left;
        display: inline;
        color: #555;
        padding-left: 0px;
    }

    .col-inner-event {
        margin-top: 2px;
        margin-right: -10px;
        margin-left: 0px;
        margin-bottom: 0px;
        padding-right: 35px;
        padding-bottom: 40px;
        padding-left: 20px;
        background-color: #eeeeee;
    }

    @media (max-width:480px) {
        .col-inner-event {
            margin-top: 2px;
            margin-right: -10px;
            margin-left: -40px;
            margin-bottom: 0px;
            padding-right: 35px;
            padding-bottom: 40px;
            background-color: #eeeeee;
        }
    }

    .event {
        display: table;
        width: 100%;
        margin-bottom: 15px;
        background-color: #fff;
        box-shadow: 0px 0px 4px 1px;
    }

    .tarehe {
        display: table-cell;
        vertical-align: middle;
        width: 60px;
        background-color: #6c98e1;
        padding-top: 9px;
        padding-bottom: 9px;
        color: #fff;
    }

    .month, .day {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 11px;
        text-align: center;
        line-height: 21px;
    }

    .info {
        display: table-cell;
        padding: 17px;
    }

    .title-info {
        font-size: 14px;
        line-height: 19px;
        font-weight: bold;
        text-align: center;
        margin-left: 60px;
    }

    @media (max-width:480px) {
        .title-info {
            font-size: 14px;
            line-height: 19px;
            font-weight: bold;
            text-align: center;
            margin-left: 90px;
        }
    }

    .title-info a {
        color: #555;
        margin-left: -115px;
    }

    .tribe-events {
        margin-left: -38px;
    }

    .tab-content {
        margin-left: 30px;
    }

    .teacher-title001 {
        margin-top: 5px !important;
        margin-bottom: 7px !important;
        line-height: 24px;
        font-weight: 700;
        font-style: normal;
        color: #555555;
        font-size: 17px;
    }

    .teacher-text001 {
        color: #555555;
        margin-bottom: 35px;
    }

    .image-tell {
        text-align: left;
    }

    .tell {
        margin-top: -15px;
        margin-right: -10px;
        padding-top: 20px;
        padding-right: 35px;
        padding-bottom: 13px;
        padding-left: 35px;
        background-color: #eeeeee;
    }

    .image-tell {
        margin-bottom: 2px;
    }
    /*---------------------------------Prize Sports Activities----------------------*/
    .content-box {
        margin-left: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    @media only screen and (max-width: 600px) {
        .content-box {
            margin-left: 15px;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .activities {
            font-size: 20px !important;
        }
    }

    @media only screen and (min-width: 600px) {
        .activities {
            font-size: 20px !important;
        }

        .content-box {
            margin-left: 15px;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }

    @media only screen and (min-width: 768px) {
        .content-box {
            margin-left: 15px !important;
            margin-top: 50px !important;
            margin-bottom: 50px !important;
        }

        .activities {
            font-size: 27px !important;
        }
    }

    @media only screen and (min-width: 1200px) {
        .content-box {
            margin-left: 15px !important;
            margin-top: 50px !important;
            margin-bottom: 50px !important;
        }

        .activities {
            font-size: 40px !important;
        }
    }

    @media only screen and (max-width: 575px) {
        .content-box {
            margin-left: 15px;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .activities {
            font-size: 40px !important;
        }
    }


    /*--------------------------------footer-------------------------*/

    .alt-button {
        background-color: #6c98e1;
        border-radius: 3px;
        font-size: 14px;
        font-weight: bold;
        line-height: 14px;
        border: 2px solid #6c98e1;
        color: #ffffff;
        padding: 14px 21px 14px 21px;
        text-transform: uppercase;
        letter-spacing: inherit;
        text-align: left;
    }

    .logo-copyright {
        margin-top: 25px;
        margin-bottom: 20px;
        margin-left: 50px;
    }

    .anim {
        transform: translateY(-50%) translateX(-50%);
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .col-xs-6 {
        width: 50%;
        float: left;
    }

    .address, .phone {
        margin-top: 0px;
        margin-left: 50px;
    }

    .phone1 {
        margin-left: 25px;
    }

    @media (min-width:480px) {
        .address, .phone, .logo-copyright, .address- {
            margin-left: 0px !important;
            margin-top: 20px;
        }

        .logo-copyright {
            font-size: 12px !important;
        }

        .address- h6, .address- p, .address h6, .address, .phone {
            font-size: 22px !important;
            line-height: 28px !important;
        }

        .address, .phone {
            margin-left: 30px !important;
        }

        .phone1 {
            margin-left: 11px;
        }
    }

    @media (min-width:1200px) {
        .address, .phone, .logo-copyright, .address- {
            margin-left: 15px !important;
        }
    }

    @media (max-width:600px) {
        .address, .phone, .logo-copyright, .address- {
            margin-left: 40px !important;
            margin-right: 0px !important;
            margin-top: 20px;
        }

        .logo-copyright {
            font-size: 11px !important;
        }

        .address- h6, .address- p, .address h6, .address, .phone {
            font-size: 18px !important;
            line-height: 20px !important;
        }

        .address, .phone {
            margin-left: 40px !important;
        }

        .phone1 {
            margin-left: 11px;
        }
    }

    /*---------------------------------facult and staff----------------*/
    .children-link {
        border-top-color: #6c98e1;
    }

    .clearfix {
        clear: both;
    }

    .site-nav {
        margin-top: -90px;
    }

    @media (min-width:768px) {
        .site-nav {
            margin-top: -60px;
        }
    }

    @media (max-width:600px) {
        .site-nav {
            display: none;
        }
    }

    @media (max-width:768px) {
        .site-nav {
            display: none;
        }
    }


    .children-link {
        box-shadow: 0px 14px 18px 7px;
        margin-bottom: 40px;
        border-top: 5px solid #6c98e1;
        padding: 5px 15px;
        background-color: #fff;
    }

        .children-link ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

            .children-link ul li {
                border-bottom: 1px solid #E6E7EB;
            }

    .side-nav-site {
        padding-left: 50px;
    }

    .children-link ul li a {
        padding-left: 13px;
        color: #2d1d54;
        padding: 25px 25px 25px 20px;
        display: inline-block;
        width: 100%;
        position: relative;
        line-height: 21px;
        transition: all 0.2s;
        font-size: 15px;
    }

    @media (min-width:768px) {
        .children-link ul li a {
            padding-left: 13px !important;
            color: #2d1d54 !important;
            padding: 20px 10px 20px 0px !important;
            display: inline-block !important;
            width: 100% !important;
            position: relative !important;
            line-height: 21px !important;
            transition: all 0.2s !important;
            font-size: 15px !important;
        }
    }

    .custome-fucult-text {
        margin-bottom: 10px !important;
    }

    .teacher-one-third, .item {
        padding: 18px 0;
    }

    .entry-title {
        margin: 0;
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
        color: #000;
    }

    .summary {
        font-size: 15px;
    }

    .job-title {
        margin: 12px 0;
        font-size: 13px;
        line-height: 17px;
        background: #ebebeb;
        color: #5f8fdf;
        padding: 1px 9px;
        display: inline-block;
        border-radius: 15px;
        font-weight: 600;
    }

    .principal {
        margin-left: -40px;
    }

    /*-----------------------------teacher list------------*/
    .table {
        margin-top: 20px;
        margin-bottom: 40px;
    }



    .vision {
        margin-left: -50px;
    }


    /*------------------------tabs----------------*/
    @media (min-width:1200px) {
        .nav-tabs-wrapper {
            margin-left: 100px !important;
            margin-top: 50px;
        }
    }

    @media (min-width:992px) {
        .nav-tabs-wrapper {
            margin-left: 50px;
            margin-top: 50px;
        }
    }

    @media (min-width:768px) {
        .nav-tabs-wrapper {
            margin-left: 0px;
            margin-top: 50px;
        }
    }

    @media (min-width:600px) {
        .nav-tabs-wrapper {
            margin-left: 30px;
            margin-top: 50px;
        }
    }

    .nav-link1 {
        display: block;
        background-color: #e6be1e;
        margin-left: 5px;
        padding: 14px 20px;
    }

    .tab-item1 a, .tab-item3 a, .tab-item4 a, .tab-item a, .tab-item0 a, .tab-item2 a {
        text-align: center;
        display: block;
        padding: 14px 20px;
        box-sizing: border-box;
        position: relative;
        transition: color .2s ease-in-out;
        border: none;
        box-shadow: none;
        color: #fff;
    }

    @media (max-width:320px) {
        .tab-item1 a, .tab-item3 a, .tab-item4 a, .tab-item a, .tab-item0 a, .tab-item2 a {
            text-align: center;
            display: block;
            padding: 3px 3px;
            box-sizing: border-box;
            position: relative;
            transition: color .2s ease-in-out;
            border: none;
            box-shadow: none;
            color: #fff;
        }

        .nav-link1 h4 {
            font-size: 15px;
        }
    }

    .tab-item a:hover, .tab-item0 a:hover, .tab-item2 a:hover, .tab-item1 a:hover, .tab-item3 a:hover, .tab-item4 a:hover {
        background-color: #6c98e1;
    }

    .card {
        background: #fff;
        border-width: 0;
        border-radius: .25rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .05) !important;
        margin-bottom: 1.5rem
    }

    .card {
        position: relative;
        display: flex !important;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box !important;
        border: 1px solid rgba(19, 24, 44, .125) !important;
        border-radius: .25rem !important;
    }

    @media (min-width:1200px) {
        .jael {
            margin-left: -70px !important;
            margin-right: -330px !important;
        }
    }

    .card-header {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(19, 24, 44, .03);
        border-bottom: 1px solid rgba(19, 24, 44, .125)
    }

        .card-header:first-child {
            border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
        }

    .card-footer,
    .card-header {
        background-color: transparent;
        border-color: rgba(160, 175, 185, .15);
        background-clip: padding-box
    }

    .graduate {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    /*----------------primaryschool-----------*/

    @media (max-width:480px) {
        h1.library001, .custome-fucult-text, .heading-wrapper, .heading-wrapper-paragraph p, .teacher-one-third- {
            margin-left: 0px !important;
            margin-right: 0px !important;
        }

        .custome-fucult-text, .heading-wrapper, .heading-wrapper-paragraph p {
            margin-bottom: 30px !important;
        }

        .teacher-one-third- {
            margin-bottom: 40px;
        }
    }

    @media (min-width:480px) {
        h1.library001, .custome-fucult-text, .heading-wrapper, .heading-wrapper-paragraph p, .teacher-one-third- {
            margin-left: 0px;
            margin-right: 0px;
        }

        .custome-fucult-text, .heading-wrapper, .heading-wrapper-paragraph p {
            margin-bottom: 30px;
        }

        .teacher-one-third- {
            margin-bottom: 40px;
        }
    }


    @media (min-width:575px) {
        .col-sm-6, .container {
            flex: none;
            max-width: none;
        }

        .custome-fucult-text {
            margin-left: 0px;
            margin-right: 0px;
        }

        .heading-wrapper-paragraph p, .heading-wrapper, .teacher-one-third- {
            margin-left: 0px;
            margin-right: 0px;
        }

        .teacher-one-third- {
            margin-bottom: 40px;
        }
    }

    @media (min-width:576px) {
        .col-sm-6, .container {
            flex: none;
            max-width: none;
        }

        .custome-fucult-text {
            margin-left: 0px;
            margin-right: -150px;
        }

        .heading-wrapper-paragraph p, .heading-wrapper, .teacher-one-third- {
            margin-left: 0px;
            margin-right: -80px;
        }

        .teacher-one-third- {
            margin-left: 70px;
            margin-right: 0px;
            width: 140%;
            margin-top: 60px;
        }

        .heading-wrapper- {
            margin-left: 0px;
            margin-right: -180px;
        }

        .heading-wrapper-paragraph- {
            margin-left: 0px;
            margin-right: -250px;
        }
    }


    @media (min-width:600px) {
        .col-sm-6, .container {
            flex: none;
            max-width: none;
        }

        h1.library001, .custome-fucult-text {
            margin-left: 0px;
            margin-right: -135px;
            margin-bottom: 15px !important;
        }

        .teacher-one-third- {
            margin-left: 70px;
            margin-right: 0px;
            width: 140%;
            margin-top: 60px;
        }

        .heading-wrapper- {
            margin-left: 0px;
            margin-right: -180px;
        }
    }

    @media (min-width:768px) {
        .col-sm-6 {
            flex: 0 0 50%;
        }

        .heading-wrapper-paragraph p {
            margin-right: 0px !important;
            margin-left: 0px !important;
        }

        .custome-fucult-text {
            margin-left: 50px;
            margin-right: -150px;
        }

        h1.library001 {
            margin-left: 50px;
            margin-right: 0px;
        }

        .heading-wrapper {
            margin-left: 50px !important;
        }

        .heading-wrapper-paragraph {
            margin-left: 50px;
            margin-right: 0px;
        }

        .heading-wrapper-paragraph- {
            margin-left: 50px;
            margin-right: -400px;
        }
    }

    @media (min-width:769px) {
        .col-sm-6 {
            flex: 0 0 50%;
        }

        .heading-wrapper-paragraph p {
            margin-right: 0px !important;
            margin-left: 0px !important;
        }

        .custome-fucult-text {
            margin-left: 0px;
            margin-right: 0px;
        }

        h1.library001 {
            margin-left: 0px;
            margin-right: 0px;
        }

        .heading-wrapper {
            margin-left: 50px !important;
        }

        .heading-wrapper-paragraph {
            margin-left: 50px;
            margin-right: 0px;
        }

        .heading-wrapper-paragraph- {
            margin-left: 50px;
            margin-right: -400px;
        }
    }

    @media (min-width:992px) {
        .col-sm-6 {
            flex: 0 0 50%;
        }

        .heading-wrapper-paragraph p {
            margin-right: -70px !important;
            margin-left: 50px !important;
        }

        .teacher-one-third {
            margin-left: 50px !important;
        }

        .custome-fucult-text {
            margin-left: 50px;
            margin-right: 0px;
        }

        .heading-wrapper {
            margin-left: 50px !important;
        }

        h1.library001 {
            margin-left: 50px;
        }
    }

    @media (min-width:992px) {
        .site-nav {
            margin-right: 50px !important;
        }
    }

    @media (min-width:1200px) {
        .col-sm-6 {
            flex: 0 0 50%;
        }

        .heading-wrapper-paragraph p {
            margin-right: 0px !important;
            margin-left: 0px !important;
            font-size: 15px;
        }

        .heading-wrapper-paragraph00 p {
            margin-left: 0px !important;
            margin-right: 0px;
        }

        .teacher-one-third {
            margin-left: 0px !important;
            margin-top: 40px !important;
        }

        .teacher-one-third- {
            margin-left: 0px !important;
            margin-top: 40px !important;
            margin-bottom: 40px !important;
        }

        .custome-fucult-text {
            margin-left: 0px;
            margin-right: 0px;
            font-size: 15px;
        }

        .heading-wrapper {
            margin-left: 0px !important;
        }

        .heading-wrapper {
            padding-left: 0px;
            margin-top: 40px;
            margin-bottom: 10px;
        }

        h1.library001 {
            margin-left: 0px;
        }

        .site-nav {
            margin-right: 0px !important;
        }

        .content-element {
            margin-left: 200px !important;
            margin-right: 0px !important;
        }

        .ok00 {
            margin-left: 70px !important;
        }
    }



    .content-element {
        margin-bottom: 35px;
    }

    blockquote {
        border-left-color: #e6be1e !important;
    }

    blockquote {
        font-size: 14px;
        line-height: 24px;
        margin: 30px 0;
        padding: 21px 32px;
        border-left: 6px solid #e6be1e;
        color: #020202;
        background-color: #f2f2f2;
        font-weight: normal;
    }

    /*-------------------------------welcome page contact---------------*/

    .entry-content h2 {
        font-size: 30px;
        text-align: center;
        font-weight: 500;
    }

    .entry-content p {
        text-align: center;
    }

    .option-left {
        float: left;
    }

    .box-sizing-option {
        box-sizing: border-box;
    }



    textarea[name="message"] {
        background-color: #f9f9f9;
        border-width: 1px;
        border-color: #f1f1f1;
        border-radius: 4px;
        border-style: solid;
        color: #a4a4a4;
    }

    input[type="submit"] {
        background-color: #ec774b;
        border-width: 0px;
        border-radius: 4px;
        border-style: solid;
        color: #ffffff;
        cursor: pointer;
        padding: 10px 20px;
    }

    .icon-element-inner, .icon-element-style-rounded {
        border-radius: 50%;
    }

    .icon-element-inner, .icon-element-size-lg {
        width: 4em;
        height: 4em;
    }

    .icon-element-inner {
        text-align: center;
        border: 2px solid transparent;
        box-sizing: content-box;
        position: relative;
    }

    .icon-element-icon, .icon-element-inner {
        left: 50%;
        transform: translate(-50%,-50%);
    }

    @media (min-width:480px) {
        .icon-element-inner, .icon-element-style-rounded {
            margin-left: 15px;
            margin-top: 35px;
        }
    }

    .address-location {
        font-size: 18px;
        text-align: center;
        padding-left: 35px;
        margin-top: -70px;
        margin-bottom: 30px;
    }
    /*------------------------------------------gallery--------------------------*/
    .custome-haead-title {
        padding: 15rem 0rem;
    }

    @media (max-width:480px) {
        .custome-haead-title {
            padding: 6rem 0rem !important;
        }
    }

    @media (max-width:768px) {
        .custome-haead-title {
            padding: 10rem 0rem !important;
        }
    }

    h1.page-title {
        line-height: 54px;
        font-weight: 500;
        font-style: normal;
        color: #ffffff;
        font-size: 60px;
        margin-left: -15px;
    }

    @media (max-width:768px) {
        h1.page-title {
            line-height: 25px;
            font-weight: 300;
            font-style: normal;
            color: #ffffff;
            font-size: 20px;
            margin-left: -25px;
        }
    }

    .page-title {
        background-color: #ffd008;
        padding: 30px 35px;
        display: inline-block;
    }

    @media (max-width:768px) {
        .page-title {
            background-color: #ffd008;
            padding: 10px 15px;
            display: inline-block;
        }
    }

    .welcome-page-title {
        background-image: url("/assets/images/gallery/2.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* Position the image container (needed to position the left and right arrows) */
    .container {
        position: relative;
    }

    /* Hide the images by default */
    .mySlides {
        display: none;
    }

    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
        cursor: pointer;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            background-color: #f2f2f2;
        }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Six columns side by side */
    .column {
        float: left;
        width: 16.66%;
    }

    /* Add a transparency effect for thumnbail images */
    .demo {
        opacity: 0.6;
    }

        .active,
        .demo:hover {
            opacity: 1;
        }
    /*------------------------------------------------*library-------------------*/
    .library001 {
        color: #2d1d54;
        font-size: 22px;
        font-weight: 800;
        line-height: 1.2em;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    h1.library001 {
        color: #2d1d54;
        font-size: 30px;
        font-weight: 800;
        line-height: 2.2em;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .element-populeted {
        border-style: solid;
        border-width: 15px 0px 0px 0px;
        border-color: #ff8700;
        box-shadow: 0px -4px 31px rgb(0 0 0 / 21%);
        transition: background 0.3s,border 0.3s, border-radius 0.3s box-shadow 0.3s;
        margin: -16px 30px 34px 30px;
        padding: 20px 20px 70px 20px;
    }

    .weekdays {
        margin-left: 20px;
    }
    

