@page "/Exam/Details"
@using MalaikaSchool.Data.Models





<div class="row">
    <div class="box box-block bg-white col-md-6">
        <h3>Details</h3>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    Class
                </dt>
                <dd>
                    @Model.StudentClass.ClassName
                </dd>
                <dt>
                    Subject
                </dt>
                <dd>
                    @Model.Subject.Name
                </dd>
                <dt>
                    Total
                </dt>
                <dd>
                    @Model.Total
                </dd>
                <dt>
                    Grade
                </dt>
                <dd>
                    @Model.Grade
                </dd>
            </dl>
        </div>
    </div>

</div>

<div>
    <p>
        <NavLink href="/Exam/Edit/{Id:int}" class="btn btn-warning">Edit</NavLink>
        <NavLink href="/Exam/Index" class="btn btn-warning">Back to List</NavLink>
    </p>
</div>

@code {

    private Exam Model;


    protected override  Task OnInitializedAsync()
    {
        Model = new Exam();


        return base.OnInitializedAsync();

    }

}


