@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation

@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <form action="Account/Logout" method="post">
            <button class="nav-link btn btn-link" value="submit">Log out</button>
            </form>
    </Authorized>
    <NotAuthorized>
        <a href="Account/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{

}