       <!--------------------------------footer---------------------------->
<div class="contain">
    <div class="row">
        <div class="col-sm-8" style="background-color: #f2f2f2;">
            <div class="row">
                <div class="col-sm-6">
                    <div class="learing-facilities address-">
                        <h6 class="address-heading-" style="text-align: left;">ABOUT THE SCHOOL</h6>
                        <p style="text-align:left">
                            Please input an email address down below. address down below school. Please input an email. Below and school.
                        </p>
                        <button class="alt-button">
                            <span class="anim"></span>
                            GET BROCHURE
                        </button>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="learing-facilities address-">
                        <h6 class="" style="text-align: left;">OUR LINKS</h6>
                        <p class="custom-heading00" style="font-size:18px;line-height:29px;color: #333436;">
                            <a href="#">Events</a>
                        </p>
                        <p class="custom-heading00" style="font-size:18px;line-height:29px;color: #333436;">
                            <a href="#">Info and News</a>
                        </p>
                        <p class="custom-heading00" style="font-size:18px;line-height:29px;color: #333436;">
                            <a href="about us.html">About Us</a>
                        </p>
                        <p class="custom-heading00" style="font-size:18px;line-height:29px;color: #333436;">
                            <a href="#">Instagram</a>
                        </p>
                        <p class="custom-heading00" style="font-size:18px;line-height:29px;color: #333436;">
                            <a href="#">Facebook</a>
                        </p>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="learing-facilities address-">
                        <h6 class="" style="text-align: left;">OUR SCHOOLS</h6>
                        <p class="custom-heading00" style="font-size:18px;line-height:29px;color: #333436;">
                            <a href="daycare.html">Day Care Center</a>
                        </p>
                        <p class="custom-heading00" style="font-size:18px;line-height:29px;color: #333436;">
                            <a href="preshool.html">Preschool(Nursery)</a>
                        </p>
                        <p class="custom-heading00" style="font-size:18px;line-height:29px;color: #333436;">
                            <a href="primaryschool.html">Primary School</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4" style="background-color: #2d2d2d;">
            <div class="learing-facilities address">
                <h6 class="" style="text-align: left;color: #ffffff;">GET IN TOUCH</h6>
            </div>
            <div class="address" style="text-align: left;color: #ffffff;">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                P.O.BOX 36272<br>
                <p style="padding-left: 15px">
                    Kigamboni <br>Dar es salaam
                    Tanzania<br>
                </p>
            </div>
            <div class="phone" style="text-align: left;color: #ffffff;">
                <i class="fa fa-phone" aria-hidden="true"></i>

                +255 716 222 515<br>
                <div class="phone1">
                    +255 655 881 404<br>

                    +255 742 810 810<br>
                </div>
                <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
                info@malaika.sc.tz<br>

            </div>
        </div>
    </div>

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 " style="background-color: #2d2d2d;font-size:18px;line-height:29px;font-weight: 500;margin-left:0px;">
            <div class="logo-copyright" style="text-align: left;">
                <p style="color: #ffffff;">
                    Malaika Schools - Copyright 2021 &copy
                    <a href="www.koithedeveloper.com" style="color: #e6be1e;">AdoreT</a>
                    All rights reserved.
                </p>
            </div>
        </div>

        
    </div>
</div>


@code {

}
