
    <div class="container-fluid" style="background-color: #333436;">
        <div class="row">
            <div class="col-sm-12">
                <div class="row people">
                    <div class="col-sm-3 col-xs-8">
                        <h2 class="malaika-logo1" style="font-size: 15px;line-height: 26px;color:#ffffff;">
                           <a href="/">Welcome to Malaika</a> 
                        </h2>
                        <p class="malaika-logo1" style="font-size: 14px;line-height: 26px;color:rgba(204, 204,204, 0.45);">
                            Dedicated to Excellent
                        </p>

        
                    </div>
                    <div class="col-sm-3 col-xs-8">
                        <h2 class="malaika-logo1" style="font-size: 15px;line-height: 26px;color:#ffffff;">
                            <a href="#">Our Calendar</a>
                        </h2>
                        <p class="malaika-logo1" style="font-size: 14px;line-height: 26px;color:rgba(204, 204,204, 0.45);">
                            See important dates
                        </p>
                    </div>
                    <div class="col-sm-3 col-xs-8">
                        <h2 class="malaika-logo1" style="font-size: 15px;line-height: 26px;color:#ffffff;">
                            <a href="#">School Admission</a>
                        </h2>
                        <p class="malaika-logo1" style="font-size: 14px;line-height: 26px;color:rgba(204, 204,204, 0.45);">
                            Apply on line now
                        </p>
                    </div>
                    <div class="col-sm-3 col-xs-8">
                        <div class="malaika-logo1" style="font-size: 15px;line-height: 26px;color:#ffffff;">                           
                                <div class="nav-item dropdown">
                                    <NavLink class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></NavLink>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                        <LoginDisplay />
                                    </div>                                
                               </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-----------------------------navigation----------------->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="">     
           <a href="/" class="theme-icon0">
            <img src="/assets/images/gallery/logo .jpg" alt="logo" style="height: 50px;">
        </a>
        <h1 class="malaika-logo">
        <a href="/">Malaika Schools<br>
            Day Care,Nursery and Primary School
        </a>
        </h1>
    </div>

       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      About Us
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="/Aboutus">Our History</a>
                      <a class="dropdown-item" href="/Facultstuff">Facult and Stuff</a>
                      <a class="dropdown-item" href="/gallery">Gallery</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/academics" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Academics
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="/daycare">Day Care Center</a>
                      <a class="dropdown-item" href="/preschool">Pre-School(Nursery)</a>
                      <a class="dropdown-item" href="/primaryschool">Primaryschool</a>
                      <a class="dropdown-item" href="#">Ranking</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/sports.html" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      School life
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="/sports">Sports and Games</a>
                      <a class="dropdown-item" href="/transport">Transport</a>
                      <a class="dropdown-item" href="/schoolfees">Shool Fees</a>
                  </div>
              </li>
         
              <li class="nav-item">
                 <a class="nav-link" href="/Admissions/Create">System</a>
              </li>    <li class="nav-item">
                  <a class="nav-link" href="#">Calendar</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/Contact">Contact</a>
              </li>

          </ul>
      </div>
      </nav>
    <!-- Navbar-->


@code {

  

}
